#siteTable{
    /*border: 2px solid #5ce2ff;*/
    height:400px;
    background-color: #fff;
}
#placeTable{
    background-color: #f6f6f6;
}
#siteSelect{
    background-color:  #f6f6f6;
    border-bottom: 1px solid white;
    width:320px;
    height:360px;
    overflow:auto;
    font-size:14px;
}
#siteTable div{
    text-align: center;
}
#queryModule{
    padding:5px 0px;
    border-bottom: 2px solid #f6f6f6;
}
#queryModule div{
    line-height: 30px;
}
#selectModule{
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 5px;
}
#selectModule input{
    margin: 5px 3px;
}
#siteSelect .deviceTypeclass{
    padding:5px 10px;
    float:left;
    margin:4px 2px;
    align-content: stretch;
}

#siteSelect li.active {
    padding: 5px;
    border: 2px solid #f88b39;
}

#siteSelect li {
    float: left;
    width: 120px;
    height: 32px;
    padding: 5px;
    border: 1px solid #d8dbde;
    margin: 5px 7px 0px 7px;
    overflow: hidden;
    background-color: #fff;
}