.config-form{padding:10px;float:left;color:black;}
.config-form div{margin:15px 25px;}
.config-form div label{width:150px;display:inline-block;}
.config-form div input,select{clear:both;}
.config-form input[type='checkbox']{margin:5px 10px 5px 5px;}

.flex-container1{
    display:flex;     
    flex-direction: row;
    background-color: #fff;
    justify-content: flex-start;
    align-items:stretch;
}
.flex-container{
    display:flex;     
    flex-direction: row;
    background-color: #fff;
    justify-content: space-around;
    align-items:stretch;
}
.flex-item{
    background-color:#fff;
  /*  width: 480px;*/
    height:460px;
    margin: 5px;;
    border:1px solid #F5F1F1;
    margin-top: 10px;
    min-width:492px;
    box-shadow:0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.flex-itemfilter{
	padding:10px;
	box-shadow:0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.flex-itemcontent{
    background-color:#fff;
    height:410px;
    border-top:1px solid #F5F1F1;
    min-width:492px;
    box-shadow:0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
/*文件图片列表*/
div.fileslistclass img:hover{
	transform:rotate(360deg) scale(1.2);    -webkit-transform:rotate(360deg) scale(1.2);    -moz-transform:rotate(360deg) scale(1.2);    -o-transform:rotate(360deg) scale(1.2);    -ms-transform:rotate(360deg) scale(1.2);
}
#btnlist1 .selected{
	background:rgb(230, 126, 34);
	color:#fff;
	border:0px;
}
#tbNetStatusQuery .l-btn{
	border: 0px;
	/* background: #4cae4c;
	background: -webkit-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -moz-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -o-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: linear-gradient(to bottom,#4cae4c 0,#449d44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cae4c,endColorstr=#449d44,GradientType=0); */

}
#tbNetStatusQuery .l-btn-selected, .l-btn-selected:hover{
	background:rgb(230, 126, 34);
	color:#fff;
	border:0px;
}
#playvioceid a:hover{
	background:rgba(0,0,0,0.5);;
	border:0px;
}
#alarmLineDeviceTree{
    height:200px;
    width:240px;
}
#getDataIntervalTree{
    height:200px;
    width:240px;
}
#getRldDataTree{
    height:200px;
    width:240px;
}
#getSpanTimeDataTree{
    height:200px;
    width:240px;
}
#getVrDataTree{
    height:200px;
    width:240px;
}
#getTcDataTree{
    height:200px;
    width:240px;
}
#getErDataTree{
    height:200px;
    width:240px;
}