<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcb.env.dao.IAreaDao">
	<resultMap type="com.tcb.env.pojo.AreaLevel" id="areaLevelResultMap">
		<id property="levelId" column="level_id" />
		<result property="levelName" column="level_name" />
		<result property="levelFlag" column="level_flag" />
	</resultMap>
	<!-- <resultMap type="com.tcb.env.pojo.AreaB" id="parentAreaResultMap"> 
		<id property="areaId" column="area_id" /> <result property="areaName" column="area_name" 
		/> <result property="areaPath" column="area_path_b" /> <result property="optUser" 
		column="opt_user_b" /> <result property="optTime" column="opt_time_b" /> 
		</resultMap> -->
	<resultMap type="com.tcb.env.pojo.Area" id="areaResultMap">
		<id property="areaId" column="area_id" />
		<result property="areaName" column="area_name" />
		<result property="areaPath" column="area_path" />
		<result property="parentId" column="parent_id" />
		<result property="cityId" column="city_id" />
		<result property="optUser" column="opt_user" />
		<result property="optTime" column="opt_time" />
		<!-- 级联组织表 <association property="parentArea" column="parent_id" javaType="com.tcb.env.pojo.Area" 
			resultMap="com.tcb.env.dao.IAreaDao.parentAreaResultMap"></association> -->
		<association property="areaLevel" column="level_id"
			javaType="com.tcb.env.pojo.AreaLevel" resultMap="com.tcb.env.dao.IAreaDao.areaLevelResultMap"></association>
	</resultMap>

	<!-- 查询个数（国家） -->
	<select id="getCountryCount" resultType="java.lang.Integer">
		SELECT COUNT(0)
		FROM
		tbl_area A,tbl_area_level C
		WHERE
		A.level_id =
		C.level_id
		AND A.parent_id
		IS NULL
		<if test="area.areaId != -1">
			AND A.area_id = #{area.areaId}
		</if>
		<if test="area.areaLevel.levelFlag != -1">
			AND C.level_flag = #{area.areaLevel.levelFlag}
		</if>
		<if test="area.areaName != null and area.areaName != ''">
			AND A.area_name LIKE
			CONCAT('%',CONCAT(#{area.areaName},'%'))
		</if>
	</select>
	<!-- 查询个数（不包括国家） -->
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(0)
		FROM
		tbl_area A,tbl_area B,tbl_area_level C
		WHERE
		A.parent_id = B.area_id
		AND
		A.level_id = C.level_id
		<if test="area.areaId != -1">
			AND A.area_id = #{area.areaId}
		</if>
		<if test="area.areaLevel.levelFlag != -1">
			AND C.level_flag = #{area.areaLevel.levelFlag}
		</if>
		<if test="area.areaName != null and area.areaName != ''">
			AND A.area_name LIKE
			CONCAT('%',CONCAT(#{area.areaName},'%'))
		</if>
		<if test="area.parentId != -1">
			AND A.parent_id = #{area.parentId}
		</if>
	</select>

	<!-- 查询区域数据 -->
	<select id="getAreas" resultMap="areaResultMap">
		<if test="ignorecountry == 0">
			SELECT
			A.area_id,
			A.area_name,
			A.parent_id,
			A.area_path,
			A.city_id,
			A.opt_user,
			A.opt_time,
			C.level_id,
			C.level_name,
			C.level_flag
			FROM
			tbl_area A,tbl_area_level C
			WHERE
			A.level_id = C.level_id
			AND
			A.parent_id IS NULL
			<if test="area.areaId != -1">
				AND A.area_id = #{area.areaId}
			</if>
			<if test="area.areaLevel != null and area.areaLevel.levelFlag != -1">
				AND C.level_flag = #{area.areaLevel.levelFlag}
			</if>
			<if test="area.areaName != null and area.areaName != ''">
				AND A.area_name LIKE
				CONCAT('%',CONCAT(#{area.areaName},'%'))
			</if>
			UNION
		</if>
		SELECT
		A.area_id,
		A.area_name,
		A.parent_id,
		A.area_path,
		A.city_id,
		A.opt_user,
		A.opt_time,
		C.level_id,
		C.level_name,
		C.level_flag
		FROM
		tbl_area
		A,tbl_area_level C
		WHERE
		A.level_id = C.level_id
		<if test="area.areaId != -1">
			AND A.area_id = #{area.areaId}
		</if>
		<if test="area.areaLevel != null and area.areaLevel.levelFlag != -1">
			AND C.level_flag = #{area.areaLevel.levelFlag}
		</if>
		<if test="area.areaName != null and area.areaName != ''">
			AND A.area_name LIKE
			CONCAT('%',CONCAT(#{area.areaName},'%'))
		</if>
		<if test="area.parentId != -1">
			AND A.parent_id = #{area.parentId}
		</if>
		ORDER BY level_flag,area_name
		<if test="area.rowCount != -1 and area.rowIndex != -1">
			LIMIT #{area.rowIndex, jdbcType =
			INTEGER},#{area.rowCount,jdbcType = INTEGER}
		</if>
	</select>

	<!-- 查询路径 -->
	<select id="getAreaPath" resultType="java.lang.String">
		SELECT area_path
		FROM tbl_area
		WHERE tbl_area.area_id = #{areaid}
	</select>

	<!-- 插入区域数据 -->
	<insert id="insertAreas" parameterType="com.tcb.env.pojo.Area">
		INSERT INTO tbl_area(
		area_name,
		<if test="area.parentId != -1">
			parent_id,
		</if>
		level_id,
		area_path,
		city_id,
		opt_user
		)
		VALUES
		(
		#{area.areaName},
		<if test="area.parentId != -1">
			#{area.parentId},
		</if>
		#{area.areaLevel.levelId},
		#{area.areaPath},
		#{area.cityId},
		#{area.optUser}
		)

	</insert>

	<!-- 更新区域数据 -->
	<update id="updateAreas" parameterType="java.util.List">
		<foreach collection="listarea" item="item" index="index"
			separator=",">
			UPDATE tbl_area SET
			tbl_area.opt_user = #{item.optUser}
			,tbl_area.opt_time = #{item.optTime}
			<if test="item.areaName != null and item.areaName != ''">
				,tbl_area.area_name = #{item.areaName}
			</if>
			<if test="item.parentId != -1">
				,tbl_area.parent_id = #{item.parentId}
			</if>
			<if test="item.areaLevel.levelId != -1">
				,tbl_area.level_id = #{item.areaLevel.levelId}
			</if>
			<if test="item.areaPath != null and item.areaPath != ''">
				,tbl_area.area_path = #{item.areaPath}
			</if>
			<if test="item.cityId != null and item.cityId != ''">
				,tbl_area.city_id = #{item.cityId}
			</if>
			WHERE tbl_area.area_id = #{item.areaId, jdbcType = INTEGER}
		</foreach>
	</update>

	<!-- 物理删除区域数据 -->
	<delete id="deleteAreas" parameterType="java.util.List">
		DELETE FROM tbl_area
		WHERE tbl_area.area_id IN
		<foreach collection="listid" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 查询是否存在同名区域 -->
	<select id="getAreaExist" resultType="java.lang.Integer">
		SELECT
		COUNT(0)
		FROM tbl_area
		WHERE tbl_area.area_name =
		#{areaname,jdbcType = VARCHAR}
		<if test="areaid != -1">
			AND tbl_area.area_id != #{areaid, jdbcType = INTEGER}
		</if>
	</select>

	<!-- 插入区域天气信息 -->
	<insert id="insertAreaWeather" parameterType="com.tcb.env.pojo.HeWeather">
		INSERT INTO
		tbl_weather(
			cid,
			location,
			parent_city,
			admin_area,
			cnty,
			lat,
			lon,
			tz,
			status,
			loc,
			utc,
			cloud,
			cond_code,
			cond_txt,
			fl,
			hum,
			pcpn,
			pres,
			tmp,
			vis,
			wind_deg,
			wind_dir,
			wind_sc,
			wind_spd,
			opt_time
		)
		VALUES
		(
			#{weather.cid},
			#{weather.location},
			#{weather.parentCity},
			#{weather.adminArea},
			#{weather.cnty},
			#{weather.lat},
			#{weather.lon},
			#{weather.tz},
			#{weather.status},
			#{weather.loc},
			#{weather.utc},
			#{weather.cloud},
			#{weather.condCode},
			#{weather.condTxt},
			#{weather.fl},
			#{weather.hum},
			#{weather.pcpn},
			#{weather.pres},
			#{weather.tmp},
			#{weather.vis},
			#{weather.windDeg},
			#{weather.windDir},
			#{weather.windSc},
			#{weather.windSpd},
			#{weather.optTime}
		)
	</insert>

	<!-- 查询区域天气信息个数 -->
	<select id="getAreaWeatherCount" resultType="java.lang.Integer">
		SELECT
			COUNT(0)
		FROM
			tbl_weather tw
		<where>
			<if test="weather.cid != null and weather.cid != ''">
				AND tw.cid = #{weather.cid}
			</if>
			<if test="weather.loc != null and weather.loc != ''">
				AND tw.loc = #{weather.loc, jdbcType = VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询地方/城市ID -->
	<select id="getAreaCityId" resultType="java.lang.String">
		SELECT DISTINCT(city_id)
		FROM
			tbl_area
		WHERE city_id IS NOT NULL
		AND TRIM(city_id) != ''
	</select>
	
	<!-- 存在关联区域或设备个数 -->
	<select id="getRelationCount" resultType="java.lang.Integer">
		SELECT SUM(TEMP.count)
		FROM
			(
				SELECT
					COUNT(0) AS count
				FROM
					tbl_area ta
				WHERE
					ta.parent_id = #{areaId}
				UNION
					SELECT
						COUNT(0) AS count
					FROM
						tbl_device td
					WHERE
						td.area_id = #{areaId}
			) TEMP
	</select>

	<select id="queryFourthAreaInfo" resultType="java.util.Map">
		SELECT
		area_id AS areaId,
		area_name AS areaName
		FROM tbl_area
		WHERE level_id = 4
	</select>

</mapper>
