<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcb.env.dao.ICollectDeviceBoxVaseDao">

	<resultMap type="com.tcb.env.pojo.CollectDeviceBoxVase" id="collectDeviceBoxVaseResultMap">
		<id property="vaseId" column="vase_id" />
		<result property="vaseNo" column="vase_no" />
		<result property="vaseTime" column="vase_time" />
		<result property="vaseQn" column="vase_qn" />
		<result property="optUser" column="opt_user" />
		<result property="optTime" column="opt_time" />
		<!-- 级联采样设备箱子表 -->
		<association property="collectDeviceBox" column="box_id" javaType="com.tcb.env.pojo.CollectDeviceBox"
			resultMap="com.tcb.env.dao.ICollectDeviceBoxDao.collectDeviceBoxResultMap"></association>
	</resultMap>
	
	<resultMap type="com.tcb.env.model.VaseDataModel" id="vaseDataModelResultMap">
		<id property="sampleId" column="sample_id" />
		<result property="thingCode" column="thing_code" />
		<result property="thingName" column="thing_Name" />
		<result property="thingValue" column="thing_value" />
		<result property="thingLimit" column="thing_limit" />
		<result property="thingFlag" column="thing_flag" />
		<result property="vaseNo" column="vase_no" />
		<result property="simpleMode" column="simple_mode" />
		<result property="optUser" column="opt_user" />
		<result property="optTime" column="opt_time" />
	</resultMap>
	
	<!-- 获取采样详细数据 -->
	<select id="getVaseDataModel" resultMap="vaseDataModelResultMap">
		SELECT DISTINCT
			vt.sample_id,
			vt.thing_code,
			tm.thing_name,
			vt.thing_value,
			vt.thing_limit,
			vt.thing_flag,
			vt.vase_no,
			vt.simple_mode,
			vt.opt_user,
			vt.opt_time
		FROM
			${deviceCode} vt
		INNER JOIN tbl_monitor tm ON vt.thing_code = tm.thing_code
		WHERE
			vt.vase_no = #{vaseNo}
	</select>

</mapper>