<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcb.env.dao.IGeneralMonitorDao">

	<resultMap type="com.tcb.env.model.DeviceValueModel" id="deviceValueModelResultMap">
		<result property="deviceCode" column="device_code" />
		<result property="deviceName" column="device_name" />
		<result property="dataType" column="data_type" />
		<result property="dataTypeName" column="data_type_name" />
		<result property="thingCode" column="thing_code" />
		<result property="thingName" column="thing_name" />
		<result property="thingValue" column="thing_value" />
	</resultMap>

	<!-- 区域内设备排放值排名 -->
	<select id="getGenaralMonitorValueRanking" resultMap="deviceValueModelResultMap">
		SELECT 
			tdd.device_code,
			td.device_name,
			tdd.data_type,
			CASE WHEN tdd.data_type = '2011' THEN '实时数据' WHEN tdd.data_type = '2031' THEN '每日数据'
				 WHEN tdd.data_type = '2051' THEN '分钟数据' WHEN tdd.data_type = '2061' THEN '小时数据' END AS data_type_name,
			tdd.thing_code,
			tm.thing_name,
			tdd.recent_data AS thing_value
		FROM tbl_device_data tdd
		INNER JOIN tbl_device td ON tdd.device_code = td.device_code
		<if test="onlineFlag != null and onlineFlag == 'online'">
			AND td.status_code IN ('N','NT')
		</if>
		INNER JOIN tbl_monitor tm ON tdd.thing_code = tm.thing_code
		WHERE tdd.thing_code = #{thingCode}
		AND tdd.data_type = #{dataType}
		<if test="deviceCodeList != null and deviceCodeList.size()>0">
			AND tdd.device_code IN
			<foreach collection="deviceCodeList" item="item"  open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="order != null and order=='asc'">
				ORDER BY tdd.recent_data ASC
			</when>
			<otherwise>
				ORDER BY tdd.recent_data DESC
			</otherwise>
		</choose>
		<choose>
			<when test="limit != null and limit >=0">
				LIMIT 0,#{limit, jdbcType = INTEGER}
			</when>
			<otherwise>
				LIMIT 0,5
			</otherwise>
		</choose>
	</select>
</mapper>
