<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyq.env.dao.ISysflagDao">
    <resultMap type="com.kyq.env.pojo.Sysflag" id="sysflagResultMap">
        <id property="sysId" column="sys_id"/>
        <result property="sysFlagCode" column="sys_flag_code"/>
        <result property="sysValue" column="sys_value"/>
        <result property="optUser" column="opt_user"/>
        <result property="optTime" column="opt_time"/>
    </resultMap>

    <select id="getSysflag" parameterType="com.kyq.env.pojo.Sysflag"
            resultMap="sysflagResultMap">
        SELECT
        tbl_sys_flag.sys_id,
        tbl_sys_flag.sys_flag_code,
        tbl_sys_flag.sys_value,
        tbl_sys_flag.opt_user,
        tbl_sys_flag.opt_time
        FROM
        tbl_sys_flag
        WHERE 1 = 1
        <if test="sysflag.sysId != -1">
            AND tbl_sys_flag.sys_id = #{sysflag.sysId, jdbcType = INTEGER}
        </if>
        <if test="sysflag.sysFlagCode != null and sysflag.sysFlagCode != ''">
            AND tbl_sys_flag.sys_flag_code = #{sysflag.sysFlagCode, jdbcType = VARCHAR}
        </if>
    </select>

</mapper>