<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyq.env.dao.IWeatherDao">

	<!-- 查询某天的总云量和最低云量 -->
	<select id="getCloudDataByDay" resultType="java.util.Map">
		SELECT
			sum(cloud) AS totalCloud,
			min(cloud) AS minCloud
		FROM
			tbl_weather tw
		WHERE
			tw.cid IN ( SELECT city_id FROM tbl_area WHERE area_id IN ( SELECT parent_id FROM tbl_area WHERE area_id = #{areaId} ) )
			and loc between #{beginTime} AND #{endTime}
	</select>

	<!-- 查询某天的总云量和最低云量 -->
	<select id="getWindDataByDay" resultType="java.util.Map">
		SELECT
		wind_deg AS windDeg,
		wind_spd AS windSpeed,
		wind_sc AS windSc
		FROM
		tbl_weather tw
		WHERE
		tw.cid IN ( SELECT city_id FROM tbl_area WHERE area_id IN ( SELECT parent_id FROM tbl_area WHERE area_id = #{areaId} ) )
		and loc &lt;= #{datatime}
		ORDER BY loc desc
		LIMIT 1
	</select>

	<!--风力玫瑰图-->
	<select id="getRoseWindData" resultType="java.lang.Integer">
		SELECT
		ROUND(wind_deg/45)
		FROM
		tbl_weather tw
		WHERE
		tw.cid IN (
			SELECT city_id FROM tbl_area WHERE area_id IN (
				SELECT parent_id FROM tbl_area WHERE area_id = #{areaId}
			)
		)
        AND tw.loc BETWEEN (#{dateTime} - interval 24 hour) AND #{dateTime}
		<choose>
			<when test="windSc > 6">
				AND tw.wind_sc >= #{windSc}
			</when>
			<otherwise>
				AND tw.wind_sc = #{windSc}
			</otherwise>
		</choose>
	</select>
	
</mapper>
